<header>
    <style>
        .breadcrumb {
            margin: 0;
            padding: 20px 30px;
            background: none;
        }
    </style>
    <ol class="breadcrumb">
        <li><a href="{{ baseUrl() }}">{{ translate('Home') }}</a></li>
        <li><a href="{{ url('maniple-pages.pages.index') }}">{{ translate('Pages') }}</a></li>
        <li class="active">{{ translate('Edit page') }}</li>
    </ol>
</header>
<main style="padding: 0 30px 30px;">
    <h1 style="margin: 0 0 30px;">{{ translate('Edit page') }}</h1>
    {{ form | raw }}
</main>
