<header>
    <style>
        .breadcrumb {
            margin: 0;
            padding: 20px 30px;
            background: none;
        }

        .table td:last-child {
            text-align: right;
        }
        .table tr:hover .btn-edit {
            opacity: 1;
        }
        .btn-edit {
            display: inline-block;
            padding: .25em;
            opacity: .35;
            width: 32px;
            height: 32px;
            border-radius: 50%;
            text-align: center;
            line-height: 32px;
        }
        .btn-edit .fa {
            vertical-align: top;
            margin-top: .1em;
        }
        .btn-edit:hover {
            background: rgba(0, 0, 0, .15);
        }
    </style>
    <ol class="breadcrumb">
        <li><a href="{{ baseUrl() }}">{{ translate('Home') }}</a></li>
        <li class="active">{{ translate('Pages') }}</li>
    </ol>
</header>
<main style="padding: 0 30px 30px;">
    <a href="{{ url('maniple-pages.pages.create') }}" class="btn btn-primary pull-right">
        <i class="fa fa-plus"></i> {{ translate('Create page') }}
    </a>
    <h1 style="margin: 0 0 30px;">{{ translate('Pages') }}</h1>

    <table class="table">
        <thead>
        <tr>
            <th>{{ translate('Title') }}</th>
            <th>{{ translate('Author') }}</th>
            <th>{{ translate('Modified') }}</th>
            <th></th>
        </tr>
        </thead>
        <tbody>
        {% for page in pages %}
            <tr>
                <td title="{{ page.title }}">{{ truncate(page.title, 80) }}</td>
                <td>{{ userFullName(page.created_by) }}</td>
                <td>{{ page.updated_at | date('Y-m-d H:i') }}</td>
                <td>
                    <div style="white-space: nowrap">
                        <a href="{{ baseUrl(page.slug) }}" class="btn-edit" title="{{ translate('View') }}" target="_blank">
                            <i class="fa fa-eye"></i>
                        </a>
                        <a href="{{ url('maniple-pages.pages.edit', { page_id: page.id }) }}{% if returnUrl %}?return_url={{ returnUrl | url_encode }}{% endif %}" class="btn-edit" title="{{ translate('Edit') }}">
                            <i class="fa fa-pencil"></i>
                        </a>
                    </div>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
</main>
