<header>
    <style>
        .breadcrumb {
            margin: 0;
            padding: 20px 30px;
            background: none;
        }
    </style>
    <ol class="breadcrumb">
        <li><a href="{{ baseUrl() }}">{{ translate('Home') }}</a></li>
        <li class="active">{{ truncate(page.title, 80) }}</li>
    </ol>
</header>
<main style="display: block; padding: 0 30px 30px; min-height: 300px;">
    <h1 style="margin: 0 0 30px;">{{ page.title }}</h1>
    <div>
        {{ page.body | raw }}
    </div>
</main>
